.block_404 {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 90px;
    margin: 100px auto;
    color: white;
    padding: 30px;
}
  
.bg-dark {
    background-color: #12002b;
}

.block_404 h1 {
    font-size: 4.5em;
}

.block_404 p {
    max-width: 80%;
    margin: auto;
}

.back_home {
    font-size: 0.8em;
    color: black;
    max-width: 80%;
    margin: auto;
    cursor: pointer;
    color: white;
}